.button {
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    border: none;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.button-facebook img {
    width: 15px;
    margin-right: 8px;
}
.button-facebook {
    background: #1877f2;
    cursor: pointer;
}
.button-sign-up {
    background: #0095F6;
    cursor: pointer;
}
.button-facebook-login {
    color: #1877f2;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
}
.button-facebook-login img {
    width: 15px;
    margin-right: 8px;
}
.profile-card-buttom{
    background-color: #0095F6;
    color: #fff;
    padding: 8px 35px;
}
#upload-text{
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 15px;
    color: #aaa;
}