.button {
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    border: none;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.button-facebook img {
    width: 15px;
    margin-right: 8px;
}
.button-facebook {
    background: #1877f2;
    cursor: pointer;
}
.button-sign-up {
    background: #0095F6;
    cursor: pointer;
}
.button-facebook-login {
    color: #1877f2;
    cursor: pointer;
    background: #fff;
    font-size: 16px;
    font-weight: 600;
}
.button-facebook-login img {
    width: 15px;
    margin-right: 8px;
}
.profile-card-buttom{
    background-color: #0095F6;
    color: #fff;
    padding: 8px 35px;
    cursor: pointer;
}
#upload-text{
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 15px;
    color: #aaa;
    cursor: pointer;
}
.ShareStories-button{
    width: 50%;
    margin-top: 100px;
    padding: 12px 30px;
    cursor: pointer;
}
.button-no-border{
    padding: 8px;
    border: none;
    color: #0095F6;
    background-color: #fff;
    cursor: pointer;
}
.button-delete{
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: rgba(0, 0, 0, .1);
    border-radius: 4px;
}

.button-border{
    padding: 8px;
    border: none;
    background-color: #eee;
    color: #000;
    border-radius: 4px;
    cursor: pointer;
}
.Remove{
    background-color: #1877f2;
    cursor: pointer;
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    border-radius: 5px;
    border: none;
    padding: 0px 30px;
}