.footer {
    width: 100%;
    border-top: 2px solid #f0eeee;
    padding: 18px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #444950;}
.footer a{
    margin: 20px 10px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.footer-item{
    display: flex;
    align-items: start;
    justify-content:center;
}
.footer-item p {
    margin-left: 20px;
    cursor: pointer;
}