.ModalPost{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
}
.arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 50%;
}
#leftArrowPost{
    left: 20px;
    cursor: pointer;
}
#rightArrowPost{
    right: 20px;
    cursor: pointer;
}
.arrow:hover{
    background-color: #eee;
}
.ModalPost_content{
    display: flex;
    max-width: 850px;
    min-width: 700px;
    min-height: 90vh;
    max-height: 80vh;
    position: fixed;
    top: 40px;
    left: 25%;
    z-index: 8;
}
.Modal_post_left_item{
    width: 60%;
    height: auto;
}
.Modal_post_left_item img{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
}
.Modal_post_right_item{
    width: 40%;
    height: auto;
    background-color: #fff;
    font-size: 14px;
    font-weight: 600;
    position: relative;
}
.newsFeed_post{
    border-bottom: 1px solid#eee;
}
.newsFeed_post img{
    width: 25px;
    height: 25px;
}
.modalPost-footer{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}
